.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.custom-marker {
    background-image: url('../assets/marker.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain; /* Asegura que la imagen se ajuste */
    width: 0.5rem; /* Ajusta el tamaño del marcador según sea necesario */
    height: 0.5rem; /* Ajusta el tamaño del marcador según sea necesario */
    position: relative; /* Permite que el label se posicione correctamente */
}

.marker-label {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    white-space: nowrap;
    color: rgb(226, 226, 226);
    transition: all 0.1s ease-in-out 0.05s;
}
.marker-label:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.26);
}