.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.custom-marker {
    background-image: url('../assets/marker.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain; /* Asegura que la imagen se ajuste */
    width: 0.5rem; /* Ajusta el tamaño del marcador según sea necesario */
    height: 0.5rem; /* Ajusta el tamaño del marcador según sea necesario */
    position: relative; /* Permite que el label se posicione correctamente */
}

.marker-label {
    cursor: pointer;
    position: absolute;
    bottom: 100%; /* Coloca la etiqueta encima del marcador */
    left: 50%; /* Centra la etiqueta */
    transform: translateX(-50%); /* Ajusta el centrado */
    background: rgba(0, 0, 0, 0.308); /* Fondo blanco con opacidad */
    padding: 0.25rem; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    font-size: 0.80rem; /* Tamaño de fuente */
    white-space: nowrap; /* Evita que el texto se divida */
    color: rgb(226, 226, 226);
    transition: all 0.25s ease-in-out 0.05s;
}
.marker-label:hover {
    color: rgb(255, 255, 255);
}